{% extends "confession/attempt.html "%}



{% block about %}
    <div class="widgets">
        <div class="widgets__widgetContainer">
        <h2>About</h2>
        <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
                This is only a demo project for SIA 2, using Django webframework.
            </p>
            — CEUCW (@admin)
            <a href="https://twitter.com/Interior/status/463440424141459456?ref_src=twsrc%5Etfw"
            >Month Day, Year</a
            >
        </blockquote>
        </div>

    </div>
  
{% endblock about %}